# Logs
logs
*.log

# Build results
bin/
obj/

# IDEs and editors
.vscode/
.idea/
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
packages/
**/*.nupkg

# User-specific files
.user
.repl_history

# Temporary files
*.tmp
